{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>PolarRoute — Polar Route Optimisation Dashboard</title>
    <meta name="theme-color" content="#222222">
    <link rel="shortcut icon" href="{% static 'frontend/bas-favicon/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'frontend/bas-favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'frontend/bas-favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'frontend/bas-favicon/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'frontend/bas-favicon/safari-pinned-tab.svg' %}" color="#222222">
    <link rel="stylesheet" href="{% static 'frontend/assets/main.css' %}">
</head>
<body>
    <div id="root"></div>
    <script type="module" src="{% static 'frontend/assets/main.js' %}"></script>
</body>
</html>
